<div *ngIf="exercise">
    <div class="row">
        <h1 class="col-sm-7">{{ exercise.title }}</h1>
    </div>
    <div class="row">
        <div class="col-sm-9">
            <blockquote *ngIf="exercise.orders">
                {{ exercise.orders }}
            </blockquote>
            <div *ngFor="#question of exercise.questions">
                <QCM    *ngIf="question.type=='QCM'"
                        [question]="question"
                        [(score)]="score"></QCM>

                <simple-question    *ngIf="question.type=='question'"
                                    [question]="question"
                                    [(score)]="score"></simple-question>

                <gap-fill    *ngIf="question.type=='gapFill'"
                                    [question]="question"></gap-fill>
                <media      *ngIf="question.type=='media'"
                                    [question]="question"></media>

            </div>
            <button class="btn btn-primary"
                    type="button"
                    (click)="submit()" > Finish the exercise</button>
        </div>
        <div class="col-sm-3 col-sm-offset-8" style="position:fixed;">
            <h2>Score : {{ score }} / {{ exercise.maxScore() }}</h2>
            <h3>{{ exercise.type.text }}</h3>
        </div>
    </div>
</div>
