<div class="form-group">
    <label>Title</label>
    <input  type="text"
            class="form-control"
            placeholder="Title ..."
            [(ngModel)]="media.title"
            (blur)="onChange()" />
</div>

<div class="form-group">
    <label>Text</label>
    <textarea  type="text"
            class="form-control"
            [(ngModel)]="media.text"
            (blur)="onChange()"> Type your text ...</textarea>
</div>
<div class="form-group">
    <label>Picture</label>
    <input  type="text"
            class="form-control"
            placeholder="Type the url ..."
            [(ngModel)]="media.picture"
            (blur)="onChange()" />
</div>
<div class="form-group">
    <label>Video</label>
    <input  type="text"
            class="form-control"
            placeholder="Type the url ..."
            [(ngModel)]="media.video"
            (blur)="onChange()" />
</div>
<div class="form-group">
    <label>Source</label>
    <input  type="text"
            class="form-control"
            placeholder="Type the url of your source..."
            [(ngModel)]="media.source"
            (blur)="onChange()" />
</div>
